/* .jumbotron {
    background-image: url('../images/train3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */

#img_user_photo {
    height: 103px;
    width: 100px;
}

#row_user_info {
    border: 5px grey solid;
}

.far.fa-trash-alt:hover {
    cursor: pointer;
}

.transition {
    animation: refresh 5s;
}

@keyframes refresh {
    
    0% {
        color: blue;
        font-weight: bold;
        background-color: yellow;

    }

    50% {
        /* color: black; */
        font-weight: 600;
    }

    75% {
        /* color: black; */
        font-weight: 500;
    }

    100% {
        color: black;
        font-weight: normal;
        background-color: none;
    }

}